[Unit]
Description=sing-box
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/sing-box run -c /etc/sing-box/config.json
Restart=always
