[Unit]
Description=sing-box
After=network.target

[Service]
WorkingDirectory=/etc/sing-box/
ExecStart=/usr/local/bin/sing-box run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
